*.aux
*.lof
*.log
*.lol
*.lot
*.out
thesis/**/*.pdf
*.refs
*.toc
*.synctex.gz
*.run.xml
*.fls
*.dvi
*.bbl
*.blg
*.fdb_latexmk
thesis-blx.bib

.vs/
.idea/
bin/
obj/
packages/
work/

word2vec/word2vec
word2phrase
compute-accuracy
data.txt.xz
